{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
    Realizar tentativa | {{ block.super }}
{% endblock %}
{% block container %}

<div class="container">

  <div class="row mensage_questions">
    <div class="col px-0">
      <h5 class>Foi gerado o teste com base em sua escolha, responda e escolha a sua avaliação para cada questão.</h5>
    </div>
  </div>
   
    <form method="POST">
        {% csrf_token %}
        <!-- {{ form }} -->

        {% for attempt in attempts %}
          <div class="row">
            <div class="col-sm-4 p-2">            
              <a class="btn btn-primary element_for_read form-control" onclick="checkAnswer('{{attempt.question.answer}}', 'resposta_{{attempt.id}}', 'got-it-right_{{attempt.id}}')" data-toggle="collapse" href="#{{attempt.id}}" role="button" aria-expanded="false" aria-controls="{{attempt.id}}">
                {{attempt.question.description}}
              </a>      
            </div>        
            <div class="col-sm-8 p-2">
              <input type="text" class="form-control"  id="resposta_{{attempt.id}}" placeholder="Reposta (opcional)">
            </div>
          </div>    

        <div class="form-group">
          <div class="card collapse" name="{{attempt.id}}" id="{{attempt.id}}">
            <div class="card card-body">
              <label class="form-check-label element_for_read" for="answer_{{attempt.id}}">Resposta</label>
              <div class="alert alert-success element_for_read" role="alert">
                {{attempt.question.answer}}
              </div>
              
              <div class="card-footer text-muted">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="got-it-right_{{attempt.id}}" id="got-it-right_{{attempt.id}}">
                  <label class="form-check-label element_for_read" for="got-it-right_{{attempt.id}}">Acertei</label>
                </div>
                
                <div class="form-group">
                  <label for="difficult_{{attempt.id}}" class="element_for_read">Qual a difiuldade da pergunta?</label>
                  <select class="form-control element_for_read" name="difficult_{{attempt.id}}" id="difficult_{{attempt.id}}">
                    <option value="1">Fácil</option>
                    <option value="2">Médio</option>
                    <option value="3">Dificil</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
    
        {% endfor %}
        <div class="form-group">
            <button type="submit" class="btn btn-success">Concluir</button>
        </div>
        
    </form>
</div>
{% endblock %}
<script> 
  $('.carousel').carousel()
</script>
